.container{
  display: flex;
  flex-direction: row;
}

.banner{
  width: 900px;
  height: 900px;
  border-radius: 50%;
}

.right-container{
  margin-left: 200px;
  margin-top: 300px;
}

.kv-logo{
  width: 208px;
  height: 45px;
  margin-bottom: 20px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.left-container{
  width: 50%;
  height: 95vh;
  background-color: #e6f7fd;
  border-radius: 1%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  border-radius: 50%;
  height: 750px;
  width: 750px;
  border: 30px solid white;
}
  