.container{
  display: flex;
  flex-direction: row;
}

.banner{
  width: 900px;
  height: 900px;
  border-radius: 50%;
}

.right-container{
  margin-left: 200px;
  margin-top: 300px;
}

.logo{
  width: 208px;
  height: 45px;
  margin-bottom: 20px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
  