.input-dd{
    /* top: 497px; */
    width: 400px;
    height: 40px;

    background-color: white;

    border: 1px solid #B4B7BD;
    border-radius: 5px;
    opacity: 1;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: 70px;
    padding: 10px;
    flex-grow: 1;
}